.index {
  a {
    color: $white;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.home-intro, .home-features {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-intro {
  text-align: center;
  background: $primary-color;

  h1 {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .logo {
    height: 18.75em;

    .body {
      stroke: $grey;
      fill: $white;
      fill-opacity: 1;
    }

    .toppings {
      fill: $grey;
      fill-opacity: 1;
    }
  }
}

.home-features {
  background-image: image-url('background.jpg');
  background-size: cover;

  a {
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media #{breakpoint(small only)} {
  .index {
    .top-bar, .top-bar ul {
      background-color: $primary-color;
    }
  }

  .home-features {
    padding: 2em 1em 15em 1em;
  }
}

@media #{breakpoint(medium up)} {
  .index {
    .top-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .top-bar, .top-bar ul {
      background-color: transparent;
    }
  }
}
