body {
  color: $grey;
  background: $blue;
  text-align: center;
  font-family: $font-family;
  font-size: 1em;
}

h1 {
  color: $grey;
  font-family: $font-family;
  font-size: 1.8em;
  font-weight: $font-weight-bold;
  margin: 1em;
}
