.index {
  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .top-bar, ul {
    background-color: transparent;
  }

  a {
    color: $white;
    font-weight: $font-weight-bold;
  }
}

.home, .welcome {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  flex-direction: column;
}

.welcome {
  background-image: image-url('background.jpg');
  background-size: cover;
}

.tagline {
  font-size: 1.7em;
}
