.home, .welcome {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  flex-direction: column;
}

.welcome {
  background-image: image-url('background.jpg');
  background-size: cover;
}

.tagline {
  font-size: 1.7em;
}
