---
page_title: Page not found
description: This is our 404 - Page not found. If you read this, you might be lost.
---

div class="row page-not-found"
  div class="small-12 medium-6 columns"
    div class="page-not-found-box"
      h1 [404] Page not found
      p Are you lost?
      = link_to 'Head back to the website', '/index.html', class: 'button primary'
    p class="text-center find-me-text" Find me in <code>source/404.html.slim</code>
  div class="small-12 medium-6 columns page-not-found-illustration"
    = svg_tag 'logo-transparent.svg', class: 'logo', alt: 'Turtle'
